.main-container{
  height: 600px;
  max-width: 3900px;
}

.board-container{
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr;
}

.lateral-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boxA{
  grid-row-start: 3;
  background-color: blue;
}

.lateral-column{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.second-block{
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 4fr 1fr;
}

.second-block-up{
  background-color: aqua;
  grid-row-start: 2;
  grid-row-end: 3;
}

.second-block-down{
  background-color: blueviolet;
  grid-row-start: 4;
  grid-row-end: 5;
}

.fiveCol-twoRows{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.boxD{
  grid-row-start: 4;
  background-color: blue;
}

.little-box{
  border: solid;
  margin: 1px
}
