.weather-dashboard-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.city-search-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: blue;
}

.previous-searches {
  margin-top: 20px;
}

.previous-searches .history-button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: blue;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.previous-searches .history-button:hover {
  background-color: blue;
}

.city-not-found {
  margin-top: 20px;
  font-weight: bold;
}

.weather-data {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-data-item {
  margin-bottom: 10px;
  font-size: 18px;
}

.city-button {
  padding: 5px 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.city-button:hover {
  background-color: blue;
}